* {
	box-sizing: border-box;
}

.header {
	display: flex;
	align-items: center;
	padding-top: 20px;
	padding-left: 32px;
	padding-right: 70px;
	padding-bottom: 50px;
}

.menu_Button {
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #fff;
	width: 20px;
	height: 17px;
	border: none;
	margin-right: 28px;
	cursor: pointer;
}

.menu_Line {
	display: block;
	width: 20px;
	height: 3px;
	background-color: #1F2022;
	border-radius: 20px;
}

.logo {
	margin-right: 59px;
}

.input_group {
	display: flex;
	justify-content: space-between;
	height: 44px;
	max-width: 830px;
	width: 50%;
	background: #EBEBEB;
	opacity: 0.3;
	border-radius: 22px;
	align-items: center;
	padding-right: 17px;
}

.input_search {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 23px;
	padding-right: 23px;
	border: none;
	background-color: transparent;
	height: 44px;
	width: 830px;
}

.button_search {
	padding: 0;
	border: none;
	height: 19px;
	width: 19px;
	background-color: transparent;
	cursor: pointer;
}

.icons {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.icon_search {
	fill: #000;
}

.icon_link {
	text-decoration: none;
	opacity: 0.24;
}

.icon_link:hover {
	opacity: 0.07;
}

.icon_link:not(:last-child) {
	margin-right: 50px;
}

.user_avatar {
	height: 40px;
	width: 40px;
	border-radius: 50%;

}
